body {
  font-family: Arial, Helvetica, sans-serif;
}
.item {
  border: 1px solid lightgray;
  box-shadow: 2px 2px 10px gray;
  width: 18vw;
  padding: 10px;
}
img {
  width: 100%;
}
.gallery {
  display: flex;
  justify-content: space-evenly;
}